extends layout

block content
  h1 journey
  p.lead Life is a series of journeys. We help you remember them.
  hr
  .row
    .col-sm-6
      h2 For personal use.
      p Learn from all of your failures and successes. Analyze your workflow, or admire it!
      p
        a.btn.btn-default(href='#', role='button') See examples »
    .col-sm-6
      h2 For learners.
      p We see a lot about other people's accomplishments. Wouldn't it be great for everyone if we knew how they got there? Search through everyone's journeys to find one that might help you on yours.
      p
        a.btn.btn-default(href='#', role='button') Search database »
    .col-sm-6
      h2 For data mining.
      p Help make learning better. See what issues are related to which topics the most, and address them for the benefit of the community. The uses don't stop there though! Use the data to your liking, from checking up on what's popular to putting it to use in another application.
      p
        a.btn.btn-default(href='#', role='button') View API »
    .col-sm-6
      h2 For business.
      p Get an insight into how your employees solve their problems. Decide on how you can help them improve, or just admire their work!
      p
        a.btn.btn-default(href='#', role='button') See examples »
